
# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
env/

# Ignore SQLite database
db.sqlite3

# Ignore static and media files
staticfiles/
media/

# Ignore VS Code settings (اختياري)
.vscode/

# Ignore macOS system files (اختياري)
.DS_Store

# Ignore log files
*.log

# Ignore temporary files
*.swp
*.bak
*.tmp
